In [2]:
# Question 1

a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2

b()
b()
b()
a

print("When it is imported a is initialized to 0 and functions b and c are defined. When b() is called for the first time it accesses the global variable a which is 0 and the argument is further passed to c(). Then c() adds value 2 to the value of a and it returns the value to b()")

print("\nThen b() is called again and it retrieves the global variable a which has now value 2 then it passes the argument to the c(), now c() add value 2 to the value of a and returns the result 4 which is the new value of variable a.")

print("\nb() is now called for the third time and it access the global variable a which has now value 4 it passes the argument to the c(), now c() add value 2 to the value of a and returns the result 6. Therefore the value of globalvariable a is 6.")

print("\nIt will display value of a" )
print(a)

When it is imported a is initialized to 0 and functions b and c are defined. When b() is called for the first time it accesses the global variable a which is 0 and the argument is further passed to c(). Then c() adds value 2 to the value of a and it returns the value to b()

Then b() is called again and it retrieves the global variable a which has now value 2 then it passes the argument to the c(), now c() add value 2 to the value of a and returns the result 4 which is the new value of variable a.

b() is now called for the third time and it access the global variable a which has now value 4 it passes the argument to the c(), now c() add value 2 to the value of a and returns the result 6. Therefore the value of globalvariable a is 6.

It will display value of a
6

In [42]:
#Question 2

def fileLength(filename):
    try:
        with open(filename, 'r') as file:
            length = len(file.read())
            print(f"Length of '{filename}': {length}")
    except FileNotFoundError:
        print(f"File '{filename}' not found. Sorry :)")

def main():
    filename = input("Enter the name of the file: ")
    fileLength(filename)

if __name__ == "__main__":
    main()

Enter the name of the file: Filelength.txt
Length of 'Filelength.txt': 123

In [7]:
#Question 3

class Marsupial:
    def __init__(self):
        self.pouch = []
        
    def put_in_pouch(self, item):
        self.pouch.append(item)
        
    def pouch_contents(self):
        return self.pouch
        
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print(m.pouch_contents())

class Kangaroo(Marsupial):
    def __init__(self, x=0, y=0):
        super().__init__()
        self.x = x
        self.y = y
        
    def jump(self, dx, dy):
        self.x += dx
        self.y += dy
        
    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"

k = Kangaroo(0,0)
print(k)  

k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())  

k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

In [14]:
#Question 4

def collatz(x):
    if x == 1:
        print(1)
    else:
        print(x)
        if x % 2 == 0:
            collatz(x // 2)
        else:
            collatz(3 * x + 1)

# Ask for input from the user
try:
    input_num = int(input("Enter a positive integer: "))
    if input_num <= 0:
        print("Please try again:), and remember to enter a positive integer.")
    else:
        collatz(input_num)
except ValueError:
    print("Please enter a positive integer.")

Enter a positive integer: 11
11
34
17
52
26
13
40
20
10
5
16
8
4
2
1

In [19]:
#Question 5

def binary(n):
    if n > 1:
        binary(n // 2)
    print(n % 2, end='')

# Ask the user for input
n = int(input("Enter a non-negative integer: "))


binary(n)

Enter a non-negative integer: 9
1001

In [32]:
#Question 6

from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        # Initialize an empty list to store headings
        self.headings = []
        # Initialize the current indentation level
        self.indentation = 0

    def handle_starttag(self, tag, attrs):
        # Check if the tag is a heading tag (starts with 'h')
        if tag.startswith('h'):
            try:
                # Determine the indentation level based on the heading level
                self.indentation = int(tag[1]) - 1
            except ValueError:
                # Handle the case where the tag is not a valid heading tag
                pass

    def handle_data(self, data):
        # Check if the data is non-empty and the indentation level is valid
        if data.strip() and self.indentation >= 0:
            # Add the heading text to the headings list with the appropriate indentation
            self.headings.append(' ' * self.indentation + data.strip())

    def print_headings(self):
        # Print each heading with its respective indentation
        for heading in self.headings:
            print(heading)


with open('w3c.txt') as infile:  
    content = infile.read()


hp = HeadingParser()
# Feed the HTML content to the parser
hp.feed(content)
# Print the parsed headings with their indentations
hp.print_headings()

Change_me
W3C Mission
 Principles

In [34]:
#Question 7

import requests
from bs4 import BeautifulSoup

def get_links(url):
    response = requests.get(url)
    soup = BeautifulSoup(response.text, 'html.parser')
    links = []
    for link in soup.find_all('a', href=True):
        links.append(link['href'])
    return links

def webdir(url, depth, indent):
    if depth < 0:
        return
    print(" " * indent + url)
    links = get_links(url)
    for link in links:
        webdir(link, depth - 1, indent + 2)

def main():
    start_url = input("Enter the starting URL: ")
    depth = int(input("Enter the depth: "))
    indent = int(input("Enter the indentation: "))
    webdir(start_url, depth, indent)

if __name__ == "__main__":
    main()

Enter the starting URL: http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
Enter the depth: 2
Enter the indentation: 0
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

In [40]:
#Question 8

import pandas as pd
import sqlite3

# Creating sqlite3 database
conn = sqlite3.connect('Weatherdata.db')

# Drop the table if it already exists
conn.execute("DROP TABLE IF EXISTS WeatherTable")

# Creating table called WeatherTable
conn.execute('''CREATE TABLE WeatherTable
            (City TEXT, Country TEXT, Season TEXT, Temperature FLOAT, Rainfall FLOAT)''')

# Inserting data into the WeatherTable table
conn.execute("INSERT INTO WeatherTable (City, Country, Season, Temperature, Rainfall) VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9)")
conn.execute("INSERT INTO WeatherTable (City, Country, Season, Temperature, Rainfall) VALUES ('Mumbai', 'India', 'Spring', 28.4, 16.2)")
conn.execute("INSERT INTO WeatherTable (City, Country, Season, Temperature, Rainfall) VALUES ('Mumbai', 'India', 'Summer', 27.9, 1549.4)")
conn.execute("INSERT INTO WeatherTable (City, Country, Season, Temperature, Rainfall) VALUES ('Mumbai', 'India', 'Fall', 27.6, 346.0)")
conn.execute("INSERT INTO WeatherTable (City, Country, Season, Temperature, Rainfall) VALUES ('London' , 'United Kingdom' , 'Winter' , 4.2,207.7)")
conn.execute("INSERT INTO WeatherTable (City, Country, Season, Temperature, Rainfall) VALUES ('London' , 'United Kingdom' , 'Spring' , 8.3,169.6)")
conn.execute("INSERT INTO WeatherTable (City, Country, Season, Temperature, Rainfall) VALUES ('London' , 'United Kingdom' , 'Summer' , 15.7,157.0)")
conn.execute("INSERT INTO WeatherTable (City, Country, Season, Temperature, Rainfall) VALUES ('London' , 'United Kingdom' , 'Fall' , 10.4,218.5)")
conn.execute("INSERT INTO WeatherTable (City, Country, Season, Temperature, Rainfall) VALUES ('Cairo', 'Egypt', 'Winter' , 13.6, 16.5)")
conn.execute("INSERT INTO WeatherTable (City, Country, Season, Temperature, Rainfall) VALUES ('Cairo', 'Egypt', 'Spring' , 20.7, 6.5)")
conn.execute("INSERT INTO WeatherTable (City, Country, Season, Temperature, Rainfall) VALUES ('Cairo', 'Egypt', 'Summer' , 27.7, 0.1)")
conn.execute("INSERT INTO WeatherTable (City, Country, Season, Temperature, Rainfall) VALUES ('Cairo', 'Egypt', 'Fall' , 22.2, 4.5)")

query1 = conn.execute("SELECT * FROM WeatherTable")
print("a) All the temperature data.\n")                      
for row in query1:
    print(f"City: {row[0]},Temperature: {row[3]}")
    
print("\n")    
print("B) All the cities, but without repetition.\n")
query2 = conn.execute("Select distinct(City) from WeatherTable")

for row in query2:
    print(f"City: {row[0]}")
    
    
print("\n")    
print("C) All the records for India.\n")
query3 = conn.execute("SELECT * FROM WeatherTable WHERE country='India';")

for row in query3:
    print(f"{row}")
    
    
print("\n")    
print("D) All the Fall records.\n")
query4 = conn.execute("SELECT * FROM WeatherTable WHERE season='Fall';")

for row in query4:
    print(f"{row}")
    

print("\n")    
print("E) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.\n")
query5 = conn.execute("""SELECT city, country, season
            FROM WeatherTable
            GROUP BY city, country, season
            HAVING AVG(rainfall) BETWEEN 200 AND 400;""")

for row in query5:
    print(f"{row}")
    

print("\n")    
print("F) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order\n")
query6 = conn.execute("""SELECT city, country
            FROM WeatherTable
            WHERE season='Fall'
            GROUP BY city, country
            HAVING AVG(temperature) > 20
            ORDER BY AVG(temperature) ASC;""")    

for row in query6:
    print(f"{row}")
    

print("\n")    
print("G) The total annual rainfall for Cairo.\n")
query7 = conn.execute("SELECT SUM(rainfall) AS total_annual_rainfall FROM WeatherTable WHERE city='Cairo';")

for row in query7:
    print(f"{row}")


print("\n")    
print("H) The total rainfall for each season.\n")
query8 = conn.execute("SELECT season, SUM(rainfall) AS total_rainfall FROM WeatherTable GROUP BY season;")

for row in query8:
    print(f"{row}")


# Commit changes and close the connection
conn.commit()
conn.close()

a) All the temperature data.

City: Mumbai,Temperature: 24.8
City: Mumbai,Temperature: 28.4
City: Mumbai,Temperature: 27.9
City: Mumbai,Temperature: 27.6
City: London,Temperature: 4.2
City: London,Temperature: 8.3
City: London,Temperature: 15.7
City: London,Temperature: 10.4
City: Cairo,Temperature: 13.6
City: Cairo,Temperature: 20.7
City: Cairo,Temperature: 27.7
City: Cairo,Temperature: 22.2


B) All the cities, but without repetition.

City: Mumbai
City: London
City: Cairo


C) All the records for India.

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)


D) All the Fall records.

('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)


E) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

('London', 'United Kingdom', 'Fall')
('London', 'United Kingdom', 'Winter')
('Mumbai', 'India', 'Fall')


F) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order

('Cairo', 'Egypt')
('Mumbai', 'India')


G) The total annual rainfall for Cairo.

(27.6,)


H) The total rainfall for each season.

('Fall', 569.0)
('Spring', 192.29999999999998)
('Summer', 1706.5)
('Winter', 230.1)

In [41]:
#Question 9

words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

print("A)",['{}'.format(word.upper()) for word in words])
print("B)",['{}'.format(word.lower()) for word in words])
print("C)",[len(word) for word in words])
print("D)",[[word.upper(), word.lower(), len(word)] for word in words])
print("E)",[word for word in words if len(word)>=4])

A) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
B) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
C) [3, 5, 5, 3, 5, 4, 3, 4, 3]
D) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
E) ['quick', 'brown', 'jumps', 'over', 'lazy']